<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="All commands of Athena.">
    <script src="../static/scripts/jquery.min.js"></script>
    <script src="../static/scripts/cookie.js"></script>
    <script src="../static/scripts/commands.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap-min.css">
    <link rel="stylesheet" href="../static/css/commands.css">
    <link rel="icon" type="image/png" href="https://i.imgur.com/YfKn5dP.png">
    <title>Commands - Athena</title>
</head>
<body>

    <%- include('../components/navbar')  %> 

    <noscript>
        <p><span>Warning: </span>You have to enable javascript to see the command descriptions since we are showing you command descriptions by javascript.</p>
    </noscript>

    <div class="cookieWarning">
        <p id="cookieWarningText">🍪 We use cookies to ensure that we give the full functionality of our site. <a style="color: #7289DA; text-decoration: none;" href="/privacy">Learn more</a></p>
        <button id= "cookieWarningButton" type="button" class="btn-close btn-close-white" aria-label="Close"></button>
    </div>

    <div class="header">
        <h2>Commands</h2>
        <p>In the above you can find all commands that runs right now on Athena.</p>
    </div>

    <div class="container">
        <div class="categories">
            <% for (var i = 0; i < categories.length; i++) { %>
                <% if (categoryChoosen == categories[i]) { %>
                    <a href="?category=<%= categories[i] %>"><h5 style="background-color: #7289DA;" class="category"><%= categories[i] %></h5></a>
                <% } else { %>  
                    <a href="?category=<%= categories[i] %>"><h5 class="category"><%= categories[i] %></h5></a>
                <% } %>  
            <% } %>  
        </div>

        <div class="commands">
            <% for (var i = 0; i < commands.length; i++) { %>
            <div class="command" onclick="expandCommand('<%= commands[i].Name %>')">
                <h5 id="title">at! <%= commands[i].Name %> <code id="customCode"><%= commands[i].commandUsage %></code></h5>
                <p style="display: none;" class="description" id="description_<%= commands[i].Name %>">Description: <%= commands[i].Description %><br> Required Perms for Users: <code id="customCode"><%= commands[i].RequiredPerms %></code> <br> Required Perms for Bot: <code id="customCode"><%= commands[i].RequiredBotPerms %></code></p>
            </div> 
            <% } %>  
        </div>
    </div>

    <%- include('../components/footer') %>

</body>
</html>