<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Manage your server easily from the dashboard of Athena.">
    <script src="../static/scripts/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="assets/css/dashboardServerChooser.css">
    <link rel="icon" type="image/png" href="assets/images/logo.png">
    <title>Dashboard - Athena</title>
</head>
<body>
    <%- include('../components/navbar') %> 

    <h1 id="title">SERVERS</h1>
    <div class="containter">
        <div class="servers">
            <% for (var i = 0; i < userGuilds.length; i++) { %>
                <div class="server">
                    <img src="<%= userGuilds[i].icon %> " alt="<%= userGuilds[i].name %> ">
                    <h5><%= userGuilds[i].name %></h5>
                    <hr id="serverLine">
                    <div class="details">
                        <p>Member Count: <span class="customCode"><%= userGuilds[i].memberCount %></span></p>
                        <p>Channel Count: <span class="customCode"><%= userGuilds[i].channelCount %></span></p>
                        <% if (userGuilds[i].available) { %>
                            <a id="dashButton" href="<%= userGuilds[i].dashURL %>">Go To Dashboard</a>
                        <% } else { %>
                            <a id="dashButton" href="/invite">Invite Athena!</a>
                        <% } %>   
                    </div>
                </div>
            <% } %>  
        </div>
    </div>

    <%- include('../components/footer') %> 
</body>
</html>